@model ContatoModel
@{
    ViewData["Title"] = "Editar Contato";
}

<style>
    body{
        background-color: rgba(0,0,0,.9);
    }
</style>

<div class="container text-light">

<h2 class="display-4 text-center">Editar Contato </h2>

    <form asp-controller="Contato" asp-action="Editar">
      <div class="form-group">

      <div class="form-group">

         <input type="hidden" asp-for="Id"/>

        <label for="nomeContato">Nome do Contato</label>
        <input type="text" asp-for="Nome" class="form-control" id="nomeContato" placeholder="Digite o nome do contato">

        <label for="emailContato">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" id="emailContato" placeholder="Digite o email do contato">

        <label for="passContato">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" id="passContato" placeholder="Digite a senha do contato">

      </div>

      </div>

      <button type="submit" class="btn btn-primary btn-block">Editar</button>
      <a class="btn btn-secondary btn-block" asp-controller="Contato" asp-action="Index">Voltar</a>

    </form>

</div>
